.slick-slider {
    width: 450px !important;
}

.slick-slide:hover {
    border: 1px solid #CCCCCC;
}


.slick-arrow,
.slick-prev {
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    border: none;
    width: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;

}

.slick-dots .slick-active button {
    background-color: #ff4d2d;
}

.slick-active {
    width: 90px !important;
}

.slick-arrow,
.slick-arrow:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCCCCC;
}

.slick-prev:before {
    line-height: 50px;
}

.slick-next:before {
    line-height: 50px;
}

.box-item {
    width: 90px;
}