.list-product {
  background-color: #f5f5f5;
}

.list-product .box-product {
  /* width: 16.666667%; */
  width: 20%;
  padding: 10px;
}

.list-product .box-product .product {
  justify-content: center;
  background-color: white;

  overflow: hidden;

  cursor: pointer;
}

.list-product .box-product .product:hover {
  border: 1px solid #ee4d2d;
  transition: 0.3s;
}

.list-product .box-product .product .img-product {
  object-fit: contain;
  width: 100%;

  background-size: cover;
}

.list-product .box-product .product .title-product {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.list-product .box-product .product .price-product {
  font-size: 14px;
  color: #ee4d2d;
}

.list-product .box-product .product .quantity-sold {
  color: #8e8fb5;
  font-size: 14px;
}

/* category */
.category {
  margin: 30px 0;
  width: 100%;
  background: #fff;
}

.category .category__title {
  padding: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, .54);
  margin-bottom: 1rem;
}

.category .category-item {
  cursor: pointer;
  width: 10%;
  border: 1px solid #F2F2F2;
}

.category .category-item:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.category .category-item h3 {
  text-align: center;
  height: 50px;
  text-transform: capitalize;
  font-size: 15px;
}

.category .category-item img {
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}