.container {
    width: 80vw;
    margin: 0 auto;
    height: auto;
    overflow: hidden;

}

.container .contact {
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(-180deg, #f53d2d, #f63);
}

.header__contact {
    padding: 7px 0px;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(-180deg, #f53d2d, #f63);
}

.container .btn__search {
    background-color: #f53d2d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container .btn__search:hover {
    background-color: #f63;
}

.box__search {
    background: rgb(255, 254, 251);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}